* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: wrap;
  gap: 30px;
}

.navbar {
  @include size(100%, 60px);
  @include flex(row, space-between, center);
  border-bottom: 1px solid black;

  &__brand-container {
    @include size(max-content, 100%);
    @include flex(row, flex-start, center);
  }
  &__logo-container {
    @include size(140px, 100%);
    margin-left: 10px;
  }
  &__logo {
    @include size(100%, 100%);
    object-fit: cover;
  }
  &__link-container {
    @include size(max-content, 100%);
    @include flex(row, flex-end, center);
    margin-right: 10px;
  }
  &__link-list {
    list-style: none;
    @include flex(row, center, center);
  }
  &__navbar__link {
    text-decoration: none;
    color: black;
  }
}
